<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="cokr.oneweeks.mytodo"
    >

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/face"
        android:label="@string/shown_name"
        android:roundIcon="@drawable/face"
        android:supportsRtl="true"
        android:theme="@style/Theme.DgTodo"
        tools:targetApi="31" >
        <activity android:name=".ui.MainActivity" />
        <activity android:name=".ui.AddTodoActivity" />
        <activity android:name=".ui.IntroActivity" android:exported="true" android:theme="@style/Theme.App.IntroActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.WebActivity" />

    </application>
    <uses-permission android:name="android.permission.INTERNET" />
</manifest>